
html {
    font-family: "Inter", sans-serif;
    background-color: #090E15;
    color: #ffffff;
}


div {
    font-weight: 100;
    /* transform: scale(0.2); */
    transition: transform 0.2s;
   }


.overlay-section{
    margin-top: 20%;
    text-align:center;
}



.label-01 {
    letter-spacing: .2rem;
    font-size: .9rem;
    color: #03a9f4;
    font-weight: 500;
    height: 2rem;
}

.title {
    color:#fff;
}

.modifed-subtitle-width {
    margin:auto;
    width:30%
}

.scroll-downs {
    position: absolute;
    top: 90%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 

    .overlay-section{
        margin-top: 50%;
        text-align:center;
    }
    .modifed-subtitle-width {
        margin:auto;
        width:70%
    }

 }