body {
    font-family: "Inter", sans-serif;
    background-color: #090E15;
    color: #ffffff;
    font-size: 40px;
    line-height: 100px;
    text-align: center;

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


div {
    font-weight: 100;
    /* transform: scale(0.2); */
    transition: transform 0.2s;
   }


.overlay-section {
    z-index:3;
    position: absolute;
}


.text-section  {
    opacity: .3;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 100px;
    z-index: 1;
}

.label-01 {
    letter-spacing: .2rem;
    font-size: .9rem;
    color: #03a9f4;
    font-weight: 500;
    height: 2rem;
}

.title {
    color:#fff;
}

.modifed-subtitle-width {

    margin:auto;
    width:60%
}

.scroll-downs {
    position: absolute;
    top: 90%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 


 }