body {
    font-family: "Inter", sans-serif;
    background-color: #090E15;
    color: #ffffff;
    font-size: 40px;
    line-height: 100px;
    text-align: center;

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


div {
    font-weight: 100;
    /* transform: scale(0.2); */
    transition: transform 0.2s;
   }


.overlay-section {
    z-index:3;
    position: absolute;
}


.text-section  {
    opacity: .9;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 100px;
    z-index: 1;
}

.label-01 {
    letter-spacing: .2rem;
    font-size: .9rem;
    color: #03a9f4;
    font-weight: 500;
    height: 2rem;
}

.title {
    color:#fff;
}

.modifed-subtitle-width {

    margin:auto;
    width:60%
}